.skills-section {
  padding: 5rem 3rem;
  text-align: center;
}

.skills-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 0.5rem;
}

.skills-subtitle {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 3rem;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}

.skill-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #00000021;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #000;
  transition: all 0.3s ease;
}

.skill-name {
  margin-top: 0.6rem;
  font-weight: 500;
  color: #111;
}

.skill-card:hover .skill-icon {
  background-color: #000;
  color: #fff;
  transform: scale(1.1) translateY(-10px); /* Added scale and move-up effect */
}

@media (max-width: 768px) {
  .skill-icon {
    width: 65px;
    height: 65px;
    font-size: 1.5rem;
  }

  .skill-name {
    font-size: 0.9rem;
  }
}
