.skills-section {
  padding: 5rem 14rem;
  text-align: center;
}

.skills-title {
  font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
    background: linear-gradient(270deg, #000000 0%, #555555 50%, #ffffff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skills-subtitle {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 3rem;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}

.skill-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.15); /* Initial color */
  backdrop-filter: blur(6px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #000;
  transition: all 0.3s ease;
  animation: skillPulse 1s ease-in-out infinite alternate;
}


.skill-name {
  margin-top: 0.6rem;
  font-weight: 500;
  color: #111;
}

.skill-card:hover .skill-icon {
  border: 1px solid rgba(0, 0, 0, 0.443);
  transform: scale(1.1) translateY(-10px); /* Added scale and move-up effect */
}

@keyframes skillPulse {
  0% {
    background-color: rgba(0, 0, 0, 0.10);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.25);
  }
}

@media (max-width: 768px) {
  .skill-icon {
    width: 65px;
    height: 65px;
    font-size: 1.5rem;
  }

  .skill-name {
    font-size: 0.9rem;
  }
}


