/* Navbar Container */
.navbar {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1.2rem 0;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 2rem;
  }
  
  /* Logo */
  .logo {
    font-size: 1.9rem;
    font-weight: bold;
    color: #000;
  }
  
  /* Nav Links */
  .nav-links {
    display: flex;
    gap: 2.2rem;
    list-style: none;
    align-items: center;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: 1rem;
    position: relative;
  }
  
  .nav-links li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background: #000;
    transition: width 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: #111;
  }
  
  .nav-links li a:hover::after {
    width: 100%;
  }
  
  /* Contact Button */
  .contact-button {
    padding: 0.5rem 1.2rem;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
  }
  
  .contact-button:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  }
  
  /* Menu Icon */
  .menu-icon {
    display: none;
    font-size: 1.8rem;
    color: #000;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .menu-icon:hover {
    transform: scale(1.1);
  }

  .mobile-close{
    display: none;
  }
  
  /* Mobile Menu */
  @media (max-width: 768px) {
    .nav-links {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.806);
      backdrop-filter: blur(15px);
      flex-direction: column;
      justify-content: start;
      align-items: center;
      transform: translateX(-100%);
      transition: transform 0.3s ease;
      z-index: 200;
      padding-top: 4rem;
      gap: 2.5rem;
    }
  
    .nav-links.active {
      transform: translateX(0);
    }
  
    .nav-links li a {
      font-size: 1.5rem;
      color: #fff;
    }
  
    .mobile-close {
        display: block;
      position: absolute;
      top: 20px;
      right: 25px;
      font-size: 2rem;
      color: #fff;
      cursor: pointer;
    }
  
    .contact-button {
      display: none;
    }
  
    .menu-icon {
      display: block;
    }
  }
  