* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #000;
  background-image: url('./assets/bg.jpg');
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  font-family: sans-serif;
}