.about {
  padding: 2rem 1rem;
  color: #fff;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(6px);
  border-radius: 15px;
  margin: 120px 160px 75px;
}

.about-container {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.about-title {
  font-size: 2.1rem;
  font-weight: 900;
  color: white;
}

.about-subtitle {
  font-size: 1.1rem;
  color: #fff;
  margin-bottom: 3rem;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.about-text {
  font-size: 1rem;
  line-height: 1.8;
  color: #fff;
  max-width: 800px;
  margin: 32px auto;
  text-align: justify;
  padding: 0 1rem;
  text-align: justify;
}

.about-text strong {
  font-weight: bold;
  text-decoration: underline;
}

.about-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 0 auto;
  padding: 0 1rem;
}

.about-box {
  background: rgb(0 0 0 / 18%);
  padding: 2rem;
  border-radius: 12px;
  min-width: 100px;
  max-width: 180px;
  flex: 1 1 250px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  border: 1px solid white;
  transition: transform 0.5s, box-shadow 0.5s;
}

.about-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.607);
}

.about-box h3 {
  font-size: 1.8rem;
  margin-bottom: 0.3rem;
}

.about-box p {
  font-size: 0.95rem;
  color: #ccc;
  margin-top: 0.5rem;
}

/* Medium Screens */
@media (max-width: 992px) {
  .about{
    margin: 110px 80px 75px;
  }
  .about-title {
    font-size: 1.8rem;
  }

  .about-box {
    flex: 1 1 45%;
    max-width: 160px;
  }
}

/* Tablets */
@media (max-width: 768px) {
  .about {
    margin: 0 1rem 50px;
  }

  .about-text {
    font-size: 0.95rem;
    text-align: center;
  }

  .about-boxes {
    gap: 1.5rem;
  }

  .about-box {
    flex: 1 1 100%;
  }
}

/* Small Devices */
@media (max-width: 480px) {
  .about-title {
    font-size: 1.5rem;
  }

  .about-subtitle {
    font-size: 1rem;
  }

  .about-box h3 {
    font-size: 1.4rem;
  }

  .about-box p {
    font-size: 0.9rem;
  }

  .about-box {
    padding: 1.5rem;
  }
}
